@import url("https://fonts.googleapis.com/css?family=Playwrite%20HU:700|Rale:400");

:root {
    --main-bg-color: #303030;
    --main-text-color: #ffffff;
}

body {
    height: 100%;
    /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
    background-size: cover; */
    background-color: #333;
}

body,
a,
p {
    font-family: "Rale";
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Playwrite HU";
    font-weight: 700;
}

html {
    font-size: 100%;
} /* 16px */

h1 {
    font-size: 4.21rem; /* 67.36px */
}

h2 {
    font-size: 3.158rem; /* 50.56px */
}

h3 {
    font-size: 2.369rem; /* 37.92px */
}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    font-size: 1.333rem; /* 21.28px */
}

small {
    font-size: 0.75rem; /* 12px */
}

/* HEADER */

.headerBlurImage {
    display: flex;
    background-image: url(img/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100dw;
    height: 35dvh;
}

.logo {
    backdrop-filter: blur(5px);
    filter: blur(0);
    border-radius: 100%;
    padding: 20px;
}

nav {
    background-color: #ffffff;
}

.navbar {
    box-shadow: 1px 4px 10px black;
}

.nav-link {
    width: 100%;
}

.nav-item {
    width: 200px;
    font-size: larger;
    color: #303030;
    justify-content: center;
}

.nav-item:hover {
    background-color: #6d071a;
    transition: 1s ease-in-out;
    border-radius: 10px;
}
.nav-item:hover a {
    color: #ffffff;
}

.d-flex {
    height: fit-content;
}

.basketSvg {
    display: inline-block;
    width: 40px;
}

/* Leaflet */
#map {
    height: 200px;
    width: 200px;
}

/* FOOTER */

body {
    font-family: "Signika", sans-serif;
}

footer {
    margin: 10px;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
}

.bg-grey {
    background: #fff;
}

.logo-part {
    display: flex;
    justify-content: center;
}

footer {
    color: #303030;
}

footer p,
a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

footer h6 {
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    position: relative;
}

.footer_contact {
    margin-top: 3%;
}

footer h6:after {
    position: absolute;
    content: "";
    background: #900a17;
    width: 15%;
    height: 1px;
    left: 0;
    bottom: -10px;
}

.btn-footer {
    display: flex;
    color: #303030;
    text-decoration: none;
    border: 1px solid;
    border-radius: 50px;
    font-size: 13px;
    padding: 7px 20px;
    margin-right: 4px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.btn-footer:hover {
    color: #fff;
    background-color: #900a17;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    border: #900a17 1px solid;
    width: 50%;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #900a17;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .bi {
    color: #900a17;
    font-size: 22px;
    padding: 0px 10px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: #900a17;
}

.logo-part {
    border-right: 1px solid #900a17;
    height: 100%;
}

.second_col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_liens {
    display: flex;
}

.contact_texte {
    align-self: center;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

/* MENUS */

/* The sidebar menu */
.sideNavMenu {
    width: 15%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #6d071a;
}

.casseCouille {
    height: 50px;
}

.sideNavOnglet {
    margin-top: 20px;
    position: sticky; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
}

/* The navigation menu links */
.sideNavMenu a {
    padding: 0 0 10px 10px;
    margin: 0 10px 20px 0;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sideNavMenu a:hover {
    background-color: #aa071a;
    box-shadow: 0px 5px 10px black;
}

.pizzaMainContainer {
    display: flex;
}

.menuPizzaMain {
    width: 85%;
    padding: 0px 10px;
    background-color: #303030;
    color: white;
}

.carousel-img {
    width: 25%;
}

.menuPizzaCustomTitre {
    padding: 20px 0 0 20px;
}

.menuPizzaCustomImage {
    padding: 60px;
    margin-left: 160px;
    width: 50%;
}

.menuPizzaCustomContainer {
    display: flex;
    align-items: center;
}

.menuPizzaCustomText {
    position: relative;
    left: -120px;
    background-color: #6d071a;
    font-size: xx-large;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    align-items: center;
}

.menuContainer {
    padding: 10px;
    background-color: #404040;
    text-align: center;
    align-items: center;
}

.pizza h2 {
    margin: 50px 0 50px 30px;
}

.foodColumn {
    display: flex;
    justify-content: space-around;
}

.foodImage {
    margin-bottom: 20px;
    width: 25vw;
}

.foodText {
    text-align: justify;
    margin-bottom: 50px;
}

/* MOBILE HEADER */

@media (max-width: 992px) {
    .logo-part {
        border-right: none;
        width: 50vw;
        height: auto;
    }
}

/* Pizza custom */
.shade {
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blackboard {
    position: relative;
    width: 640px;
    margin: 7% auto;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782,
        0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    /*background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1)); */
    background-color: #333;
}

.blackboard:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    border: #2c2c2c solid 2px;
    content: "Customisez votre pizza :";
    font-family: "Playwrite HU", cursive;
    font-size: 2.2em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
    padding-top: 20px;
}

.form {
    padding: 70px 20px 20px;
}

p {
    position: relative;
    margin-bottom: 1em;
}

label {
    vertical-align: middle;
    font-family: "Permanent Marker", cursive;
    font-size: 1.6em;
    color: rgba(238, 238, 238, 0.7);
}

p:nth-of-type(5) > label {
    vertical-align: top;
}

input,
textarea {
    vertical-align: middle;
    padding-left: 10px;
    background: none;
    border: none;
    font-family: "Playwrite HU", cursive;
    font-size: 1.6em;
    color: rgba(238, 238, 238, 0.8);
    line-height: 0.6em;
    outline: none;
}

textarea {
    position: relative;
    left: 20px;
    font-size: 0.8em;
    line-height: 1em;
    resize: none;
    margin: 20px;
}

input[type="submit"] {
    cursor: pointer;
    color: rgba(238, 238, 238, 0.7);
    line-height: 1em;
    padding: 0;
}

input[type="submit"]:focus {
    background: rgba(238, 238, 238, 0.2);
    color: rgba(238, 238, 238, 0.2);
}

::-moz-selection {
    background: rgba(238, 238, 238, 0.2);
    color: rgba(238, 238, 238, 0.2);
    text-shadow: none;
}

::selection {
    background: rgba(238, 238, 238, 0.4);
    color: rgba(238, 238, 238, 0.3);
    text-shadow: none;
}

select {
    appearance: none;
    background-color: #333;
    border: none;
    color: #e5e7eb;
    vertical-align: sub;
    position: relative;
    left: 20px;
    font-family: "Playwrite HU", cursive;
}
option {
    font-size: smaller;
}
.p_form {
    margin: 25px 0;
}

article {
    font-family: "Playwrite HU", cursive;
    margin: 100px;
}
article p {
    margin: 50px;
    font-size: 1.2em;
    color: rgba(238, 238, 238);
}
.produits_similaires {
    display: flex;
    justify-content: space-around;
}

.pizza_card {
    display: flex;
    flex-direction: column;
}
.pizza_card img {
    height: 260px;
    width: 260px;
    box-shadow: 1px 4px 10px black;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.pizza_card:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.produits_similaires p {
    align-self: center;
    margin: 15px;
    font-family: "Playwrite HU", cursive;
    color: rgba(238, 238, 238);
}
.produits_h3 {
    margin: 50px 25px;
    color: rgba(238, 238, 238);
}
h1 {
    color: rgba(238, 238, 238);
}
/* BUTTON */
/* CSS */
.button-53 {
    background-color: #b19876;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: "Playwrite HU", cursive;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (max-width: 1400px) {
    .pizza_card img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin: 25px 0;
    }
}

@media (max-width: 1250px) {
    .button-53 {
        padding: 0.75rem 3rem;
        font-size: 1.25rem;
    }
    .produits_similaires {
        flex-direction: column;
        align-items: center;
    }
    .produits_h3 {
        text-align: center;
    }
    .blackboard {
        max-width: 100%;
    }
    article h1 {
        font-size: 1.75em;
        text-align: center;
    }
}

/* Accueil */